@import "tailwindcss";

@font-face {
  font-family: "Big Shoulders Stencil";
  src: url("/fonts/Big_Shoulders_Stencil/BigShouldersStencil-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-display: auto;
}

@font-face {
  font-family: "Boldonse";
  src: url("/fonts/Boldonse/Boldonse-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: auto;
}

@font-face {
  font-family: "Syne";
  src: url("/fonts/Syne/Syne-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 800;
  font-display: auto;
}

@font-face {
  font-family: "Lemon Milk";
  src: url("/fonts/Lemon_Milk/LEMONMILK-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: auto;
}

@font-face {
  font-family: "Lemon Milk";
  src: url("/fonts/Lemon_Milk/LEMONMILK-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: auto;
}

@font-face {
  font-family: "Lemon Milk";
  src: url("/fonts/Lemon_Milk/LEMONMILK-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: auto;
}

@font-face {
  font-family: "Lemon Milk";
  src: url("/fonts/Lemon_Milk/LEMONMILK-Bold.woff2") format("woff2");
  font-weight: 800;
  font-display: auto;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: "Poppins", system-ui;
  --font-bigShouldersStencil: "Big Shoulders Stencil", var(--font-poppins);
  --font-boldonse: "Boldonse", var(--font-poppins);
  --font-syne: "Syne", var(--font-poppins);
  --font-lemonMilk: "Lemon Milk", var(--font-poppins);
}

@theme inline {
  --animate-slow-spin: 5s spin linear infinite;
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primaryYellow: #fff602;
  --color-primaryBlue: #1da1fe;

  --color-lightBlue: #add8e6;
  --color-accentYellow: #ffd700;
  --color-accentBlue: #1e90ff;
  --color-viltrumRed: #ff0000;
  --color-sinisterYellow: #ffd700;

  --breakpoint-xs: 375px;
  --breakpoint-s: 425px;

  --font-bigShouldersStencil: var(--font-bigShouldersStencil);
  --font-syne: var(--font-syne);
  --font-boldonse: var(--font-boldonse);
  --font-poppins: var(--font-poppins);
  --font-lemonMilk: var(--font-lemonMilk);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --background: #171717;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-primaryBlue);
  color: var(--color-darkBlue);
}

* {
  cursor: url("/custom-cursor.svg"), auto;
}
