@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.cursor-effect {
  position: absolute;
  width: 200px;
  height: 200px;
  pointer-events: none;
  z-index: 1000;
  border-radius: 50%;
  background-color: transparent;
  mix-blend-mode: difference;
  filter: invert(0.3);
  transition: transform 0.1s ease-out;
}
