@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  font-family: "Poppins";
  font-weight: 200;
}
.rotate {
  animation: rotateAnimation 3s linear infinite; /* Adjust the duration as needed */
}

/* md:mx-[60px] lg:mx-[100px] sm:mx-[100px] mx-[200px] */
.text-width {
  margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .text-width {
    margin-left: 60px;
    margin-right: 60px;
    font-size: 30px;
  }
}
